@use "color.scss";
@use "modal.scss";
@use "form.scss";
@use "button.scss";

.link {
  &_current {
    font-weight: bold;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.body {
  margin: auto;
  max-width: 800px;
}
