.page {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.title {
  font-size: 32px;
}

.body {
  padding-top: 32px;
}

.groups {
  display: flex;
  gap: 64px;
}

.group {
  padding: 16px;
  border: 1px solid;
}

.groupView {
  display: flex;
  flex-direction: column;
  gap: 16px;
}